<header>
  <nav class="col-12 navbar navbar-light bg-dark main-nav">
    <div class="container">
        <a class="navbar-brand" href="#"><img class="align-middle" src="img/icon/logo.png" alt="logo-f">
          <span class="text-white align-middle ml-2 main-nav__brand">Feature</span>
        </a>

        <ul class="nav aside-nav">

          <li class="nav-item dropdown dropdown-toggle btn btn-dark d-flex align-items-center aside-nav__item" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <a class="nav-link share-btn"  href="#">share</a>

            <div class="dropdown-menu dropdown-menu-right rounded-0 hidden-nav">
                <a class="dropdown-item" href="#"><i class="fa flaticon-facebook"></i>Facebook</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#"><i class="fa flaticon-twitter"></i>Twitter</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#"><i class="fa flaticon-google-plus"></i>Google+</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#"><i class="fa flaticon-pinterest"></i>Pinterest</a>
            </div>

          </li>
          <li class="nav-item btn btn-dark d-flex align-items-center aside-nav__item">
            <a class="nav-link search-btn" href="#"><i class="fa flaticon-search"></i> </a>
          </li>

          <li class="nav-item btn btn-dark d-flex align-items-center aside-nav__item">
            <a class="nav-link signin-btn" href="#"><i class="fa flaticon-man"></i> </a>
          </li>
        </ul>

    </div>
  </nav>
</header>
